{% extends 'base_doer.html' %}

{% block main-content %}
    <div class="row">
        <div class="col-md-12">
            <div class="overview-wrap">
                <h2 class="title-1">Dashboard</h2>
            </div>
        </div>
    </div>

    <!-- STATISTIC-->
    <section class="statistic">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item">
                            <h2 class="number">368</h2>
                            <span class="desc">Task Completed</span>
                            <div class="icon">
                                <i class="zmdi zmdi-calendar-note"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item">
                            <h2 class="number">20,100</h2>
                            <span class="desc">Points Collected</span>
                            <div class="icon">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item">
                            <h2 class="number">RM 106</h2>
                            <span class="desc">Earned</span>
                            <div class="icon">
                                <i class="zmdi zmdi-account-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item">
                            <h2 class="number">$1,060</h2>
                            <span class="desc">Total Earnings</span>
                            <div class="icon">
                                <i class="zmdi zmdi-money"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC-->

    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="user-data m-b-40">
                            <h3 class="title-3 m-b-30">Account Statement</h3>
                            <div class="table-responsive table-data">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td>Action</td>
                                        <td>Amount</td>
                                        <td>Date</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Withdraw</td>
                                        <td>120.00</td>
                                        <td>12/01/2019</td>
                                    </tr>
                                    <tr>
                                        <td>Withdraw</td>
                                        <td>120.00</td>
                                        <td>12/01/2019</td>
                                    </tr>
                                    <tr>
                                        <td>Withdraw</td>
                                        <td>120.00</td>
                                        <td>12/01/2019</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <!-- TASK PROGRESS-->
                        <div class="task-progress">
                            <h3 class="title-3">Task Progress</h3>

                            {% for project_task in project_tasks %}
                                <div class="au-skill-container">
                                    <div class="au-progress">
                                        <span class="au-progress__title">{{ project_task.name }} ({{ project_task.total }})</span>
                                        <div class="au-progress__bar">
                                            <div class="au-progress__inner js-progressbar-simple" role="progressbar"
                                                 data-transitiongoal="{{ project_task.total }}">
{#                                                <span class="au-progress__value js-value"></span>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- END TASK PROGRESS-->
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block main-js %}
    <script></script>
{% endblock %}