{% load static %}

<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="{% static 'images/icon/logo.png' %}" alt="Cool Admin"/>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="/">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/staff/repositories/list">
                        <i class="fas fa-chart-bar"></i>Repositories
                    </a>
                </li>
                <li>
                    <a href="/staff/tasks">
                        <i class="fas fa-chart-bar"></i>Tasks
                    </a>
                </li>
                <li>
                    <a href="/staff/configurations">
                        <i class="fas fa-chart-bar"></i>Configuration
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
