{% load static %}

<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="{% static 'images/icon/logo-mini.png' %}" height="80" width="150" alt="Do IT"/>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <div class="account2">
            <div class="image img-cir img-120">
                <img src="{% static 'images/icon/avatar-big-01.jpg' %}" alt="Siti Raudah"/>
            </div>
            <h4 class="name">Siti Raudah</h4>
            <p>100,00 DoIT Points</p>
        </div>

        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="/doer/home">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/doer/projects/list">
                        <i class="fas fa-chart-bar"></i>Tasks
                    </a>
                </li>
                <li>
                    <a href="/accounts/logout">
                        <i class="fas fa-chart-bar"></i>Logout
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
