{% extends 'base_staff.html' %}
{% load humanize %}


{% block main-content %}
    <div class="row">
        <div class="col-lg-9">
            <h2 class="title-1 m-b-25">Earnings By Projects</h2>
            <div class="table-responsive table--no-card m-b-40">
                <table class="table table-borderless table-striped table-earning">
                    <thead>
                    <tr>
                        <th>Project</th>
                        <th>Vendor</th>
                        <th class="text-right">Points</th>
                        <th class="text-right">Earnings</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <td>{{ project.vendor.name }}</td>
                            <td>{{ project.task_point }}</td>
                            <td class="text-right">$999.00</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-3">
            <h2 class="title-1 m-b-25">Top Doer</h2>
            <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                <div class="au-card-inner">
                    <div class="table-responsive">
                        <table class="table table-top-countries">
                            <tbody>
                            {% for earning in doer_earnings %}
                                <tr>
                                    <td>{{ earning.name }}</td>
                                    <td class="text-right">{{ earning.total | floatformat:2|intcomma }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main-js %}
    <script></script>
{% endblock %}