{% extends 'base_register.html' %}

{% load crispy_forms_tags %}

{% block login-form %}
    <div class="login-form">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.nric_no|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.name|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.email|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.password|as_crispy_field }}
                </div>
            </div>
            <div class="form-row m-t-40">
                <div class="form-group col-md-6 mb-0">
                    {{ form.gender|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.race|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.income|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.birth_date|as_crispy_field }}
                </div>
            </div>
            <div class="form-row m-t-40">
                <div class="form-group col-md-6 mb-0">
                    {{ form.address1|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.address2|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.address3|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.city|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.state|as_crispy_field }}
                </div>
            </div>

            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Sign Up</button>
        </form>

    </div>
{% endblock %}